/* General Setting START */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  clear: both;
  font-size: 1em;
}
.full-container{
  width: 100%;
  padding: 20px;
}
.container{
  width: 100%;
  max-width: 1600px;
  margin: auto;
}

section{padding: 100px 0 80px;}

.product-details{
font-size: 0;
margin-bottom: 50px;
/*add font-size 0 on parent element*/
}
.side-by-side{
  display: inline-block;
  width: 50%;
  margin: 0 ;
  font-size: 15px;
  /*add vertical align*/
  vertical-align: top
}
/* General Setting END */





/* Product Setting START*/

.product-details{
  display: block;
  text-align: center;
}

/* product image */

.product-img{
/*use padding*/
padding: 10px 20px 10px 10px;
}
.product-img-1{
  text-align: center;
  background:white;
  border-radius: 20px;
  box-shadow: 1px 2px 29px -10px rgba(0,0,0,0.5);
  /*dont use margin on image element to sizing the border*/
  padding: 50px;
  margin-bottom: 20px;
  overflow: hidden;
}

/*dont use margin to giving spacing*/
.image-option {
  font-size: 0;
}
.image-option > li{
  display: inline-block;
  width: 33.33%;
  padding: 10px;
}
.product-img-2{
background: white;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  text-align: center;
  box-shadow: -1px 2px 29px -10px  rgba(0,0,0,0.5);
  padding: 20px;
  overflow: hidden;
}
.product-img-2 img{
    width: 100%;
}

.product-desc{
  background:#fefefe;
  border-radius: 20px;
  text-align: left;
  font-family: 'montserrat';
  /*delete margin for inline-block element */
  /*use padding for spacing */
  padding: 10px 10px 10px 50px;
}
h2{
  font-size: 55px;
  font-weight: 600;
  color: #707070;
  font-family: 'montserrat';
  margin: 20px auto;
}
.product-desc h4{
  font-size: 27.5px;
  font-weight: 300;
  margin-bottom: 30px;
}

.product-desc h5{
  font-size: 20px;
}
.product-desc ul{
  list-style: none;
}


/* Chooese Colors START */

.choose-colors ul{
  list-style: none;
  padding: 50px 0;

}
.choose-colors ul li{
  display: inline-block;
  padding: 0 5px;
}
/*chage button*/
.choose-colors ul li button{
  border: none;
  width: 60px;
  height: 30px;
  border-radius: 20px;
  display: inline-block;
  box-shadow: -1px 5px 11px grey;
}

.choose-colors #light-green{ background:#83e4db; }
.choose-colors #brown{ background:#603913;}
.choose-colors #light-blue{ background:#bfe5fa; }
.choose-colors #light-grey{ background:#84888a;}
.choose-colors #white{ background:white; }


/* pembelian */
.pembelian{
  max-width: 100%;
  padding: 50px;
  border: 0.1px solid lightgray;
  border-radius: 20px;
}
.pembelian h4 img{
  width: 20px;
}
.pembelian textarea{
  /*edit margin*/
  margin: 10px;
  /*edit display */
  display: block;
  /*edit width size*/
  width: 100%;
  /*edit height*/
  height: 100px;
  /*edit font-size*/
  font-size: 16px;
  border: none;
  border-bottom: 1px solid grey;
}
.pembelian textarea:focus{
  border: none;
}
.stok{
  width: 100%;
  margin-bottom: 15px;
}
.stok .min{
  width: 30px;
  height: 30px;
  border:0px;
  border-radius: 50%;
  background-color: #455455;
  padding-top: 15px;
  
}
.stok .min:active{
  width:28px;
  height:28px;
}
.stok .plus{
  width: 30px;
  height: 30px;
  border:0px;
  border-radius: 50%;
  background-color: #455455;
  padding-top: 15px;
}
.stok .plus:active{
  width: 28px;
  height: 28px;
}
.stok .inputan{
  width: 145px;
  height: 30px;
  border-top: 0px;
  border-left: 0px;
  text-align: center;
  font-size: 30px;
  border-right: 0px;
}
.stok .inputan:focus{
  height: 30px;
  outline: none;
  text-align: center;
}

.pembelian .button{
background: #f6921e;
padding: 10px;
text-decoration: none;
color: white;
border-radius: 10px;
margin-top: 40px  !important;
}

/* Ulasan START */

.commentar h2{
  color: grey;
  font-size: 30px;
}

.cust-comment{
  background:#ffffff;
  border-radius: 20px;
  box-shadow: 1px 2px 29px -10px;
  /*dont use fixed width size*/
  width: 100%;
  vertical-align: center;
  padding: 50px;
}

.commentar ul{
  list-style: none;
  position: relative;
  top: -30px;
  left: 40px;
  display: inline-block;
}
.commentar ul li{
  font-size: 27.5px;
  font-family:'montserrat';
}

.commentar ul li:first-child{
  font-weight: 700;
  font-size: 30px;
}

.commentar ul li{
  font-size: 20px;
}
.commentar ul li:last-child img{
  width: 200px;

}



#cust-image{
  background-image: url('https://images.pexels.com/photos/2522682/pexels-photo-2522682.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center;
  background-size: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: inline-block;
}


.commentar-column{
  margin: 50px 0 50px;
font-size: 0;
}
.commentar-column h2{
  font-size: 30px;
}
.commentar-column input{
  vertical-align: top;
width: 80%;
display: inline-block;
height: 100px;
padding: 10px 20px;
font-size: 20px;
}
.commentar-column a{
  vertical-align: top;
  width: 18%;
  float: right;
  height: 100px;
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding-top: 35px;
  background: #f6921e;
  color: white;
  font-family: 'montserrat';
  text-decoration:none;
  font-weight: 400;
  border-radius: 10px;
}
.nav{
  display: inline-block;
  width: 80%;
  top: 5px;
  left: 19%;
  position: absolute;
}
.nav ul li{
  display: inline-block;
}
.img{
  padding: 10px;
  width: 18%;
}
.image{
  width: 164px;
  height: 60px;
}
.navbar{
  width: 90%;
  margin: auto;
  text-align: center;
}
.nav ul li{
  font-size: 20px;
  padding: 20px;
  margin-left: 15%;
  
}
.footer{
  bottom: 0%;
  height: 90px;
  background-color: #445555;
  width: 100%;
}
.footer-img{
  width: 150px;
  float: left;
  display: inline-block;
}
.subfooter{
  width: 80%;
  margin: auto;
  margin-top: 1%;
}
.address{
width: 50%;
height: 20px;
float: left;
margin-left: 5%;
}
.company-addres1{
  display: inline-block;
  margin-left: 35px ;
}

.company{
  color: #dadddd;
}
.company-address{
  color: #5d6c6c;
  font-size: 12px;
  width: 55%;
}
.img-footer{
  width: 100%;
  display: inline-block;
}
.copyright{
  width: 80%;
  margin: auto;
  margin-top: 1%;
  text-align: end;
  color: #dadddd;
  font-size: 16px;
  padding-top: 19px;
}
.copyright a{
  color: #148b4d;
  text-decoration: none;
}
.slideimg{
  width: 100%;
  height: 800px;
  margin: auto;
}
.slideshow{
  width: 100%;
  height: auto;
  top: 0%;
  background-color: transparent;
  z-index: -1;
}
.produk{
  width: 100%;
  height: 1000px;
}

@media screen and (max-width:1880px){
  .nav ul li {
      font-size: 25px;
      padding: 20px;
      margin-left: 5%;
  }
  
}


@media screen and (max-width:1400px){
  .nav ul li {
      font-size: 19px;
      padding: 20px;
      margin-left: 5%;
  }
  .image{
      width: 138px;
      height: 51px;
  }
  .img{
      width: 50px;
      height: 50px;
  }
  
}
@media screen and (max-width:767px){
  .nav ul li {
      font-size: 13px;
      padding: 18px;
      margin-left: 0%;
  }
  .img{
      width: 138px;
      height: 51px;
      display: block;
      margin: auto;
  }
  .image{
      width: 138px;
      height: 51px;
  }
  .nav{
      display: block;
      margin: auto;
  }
  
}