*{
    padding:0;
    margin:0;
    box-sizing: 0;
}
.container{
    width: 100%;
}
.logo{
    width: 132px;
    height: 58px;
}
.navbar{
    width: 65%;
    margin-left: 20%;
    display: inline-block;
}

ul.nav{
    display: inline-block;
    width: 70%;
    padding: 20px;
    margin: 10px 20px;
}
ul.nav li {
    display: inline-block;
    font-size: 26px;
    padding: 30px;
}
.logo{
    width: auto;
    height: auto;
    margin-bottom: -15px;
}